body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;


}


.grid-cont{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 15fr 3fr;
    justify-items: center;
    align-items: center;
}

table{
    border-spacing: 7px;
}

.point-cont{
    padding-top: 100px;
}


#point{
    font-size: larger;
    font-weight: bolder;
}
button{
    background-color: rgb(115, 115, 115);
    padding: 12px 40px;
    border-radius: 5px;
    border: 1px solid rgb(251, 251, 251);
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.6);
    transition: all 0.2s;
    color: white;
    font-weight: bolder;
    font-size: large;
}

#foundWord{
    text-align: center;
    height: 80%;
}

#foundWordTxt{
    font-size: 30px;
    color: green;
    font-weight: bold;
}

#meaningTxt{
    font-size: larger;
}

#foundWords{
    height: calc(100vh - 230px);
    overflow-y: scroll;
}

button:active{
    box-shadow: none;
}

td{
    height: 50px;
    width: 50px;
    background-color: rgb(98, 98, 98);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.784);
    user-select: none;
    transition: all 0.2s;
    font-size: larger;
    color: white;

}

td:hover{
    transform: scale(1.05);
}
